.tab {
    padding: 10px;
    border-top: 1px solid #333;
}

table tbody tr td {
    padding: 3px 5px;
}

table tbody tr td:last-child {
    text-align: right;
}

table tbody tr.pao td { color: red; }
table tbody tr.uslovno td { color: blue; }
table tbody tr.polozio td { color: green; }