*{
    padding: 0px;
    margin: 0px;
}

#wrapper{
    margin: 0 auto;
    width: 1024px;
}

#nav {
    margin-bottom: 15px;
}

#nav > ul {
    list-style: none;
}

#nav > ul > li {
    display: inline-block;
}

#nav > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px 20px;
    color: #A51;
}

#nav > ul > li > a:hover {
    background-color: #333;
    color: #fff;
}

#sadrzaj {
    display: inline-block;
    width: 750px;
}

#sadrzaj p {
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 40px;
}

#sajdbar {
    background-color: #ddd;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 250px;
}

#sajdbar > ul {
    list-style: none;
}

#sajdbar > ul > li > a {
    text-decoration: none;
    line-height: 24px;
    color: #777;
}

#podnozje {
    border-top: 2px solid #555;
    text-align: center;
    margin-top: 15px;
    padding: 15px;
}